.section {
  &.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-image: radial-gradient(
      circle 610px at 5.2% 51.6%,
      rgba(5, 8, 114, 1) 0%,
      rgba(7, 3, 53, 1) 97.5%
    );
  }
  &__content {
    max-width: 920px;
    padding: 0 5%;
    margin: 0 auto;
    text-align: center;
    color: hsl(0, 0%, 100%);

    > * {
      margin-bottom: 20px;
    }
  }
  .action-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
