@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap");
.header {
  padding: 0 5%;
  height: 5rem;
  -webkit-box-shadow: 0 5px 2px #d4d4f7;
          box-shadow: 0 5px 2px #d4d4f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: radial-gradient(circle 610px at 5.2% 51.6%, #050872 0%, #070335 97.5%);
}

.section__content {
  max-width: 920px;
  padding: 0 5%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.section__content > * {
  margin-bottom: 20px;
}

.section .action-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.section__title {
  padding: 20px 5%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.profiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px 5%;
}

.profiles .profile {
  position: relative;
  min-height: 200px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f2f2f2;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.profiles .profile__image {
  position: relative;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profiles .profile__image:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100px;
  width: 100%;
  z-index: 1;
  background-color: #08082b;
}

.profiles .profile__image .image {
  position: relative;
  z-index: 2;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  background-color: #fff;
}

.profiles .profile__desc, .profiles .profile__reach {
  padding: 20px;
}

.profiles .profile__skill {
  font-size: 12px;
  font-weight: bold;
}

.profiles .profile button {
  font-size: 12px;
  background-color: #111155;
  padding: 12px;
  width: 100%;
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.profiles .profile button:hover {
  border: 1px solid #111155;
  background-color: #fff;
  color: #000;
}

.profiles .profile--back {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 4;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.profiles .profile--back_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.profiles .profile--front {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.profiles .profile.contact {
  -webkit-box-shadow: 0 0 15px rgba(17, 17, 85, 0.111);
          box-shadow: 0 0 15px rgba(17, 17, 85, 0.111);
}

.profiles .profile.contact .profile--front {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.profiles .profile.contact .profile--back {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.profiles .profile__contact {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profiles .profile__contact > div {
  cursor: pointer;
}

.profiles .profile__contact > div:not(:last-child) {
  margin-bottom: 20px;
}

.profiles .profile__contact > div:hover i, .profiles .profile__contact > div:focus-within i {
  color: rosybrown;
}

.profiles .profile__contact i {
  font-size: 2rem;
  color: #111155;
}

.projects {
  padding: 2rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
}

.project {
  position: relative;
  height: 400px;
  min-width: 300px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  color: #fff;
  border-radius: 8px;
}

.project::after {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #111155;
  z-index: -1;
  mix-blend-mode: overlay;
}

.project .img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  inset: 0;
  z-index: -2;
}

.project .content {
  padding: 1.2rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .content h1,
.project .content h2,
.project .content h3 {
  line-height: 1.2;
}

.project button {
  font-size: 0.9rem;
  font-weight: 700;
}

.apps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px 5%;
}

.app {
  padding: 20px;
  background-color: #111155;
  color: #f7f0ff;
  border-radius: 8px;
}

.app h1 {
  margin-bottom: 1rem;
}

.app a {
  text-decoration: none;
}

.app ul {
  padding-left: 1rem;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #111155;
  color: #f7f0ff;
  padding: 2rem;
}

footer .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

footer .copyright {
  text-align: center;
}

footer a {
  font-size: 0.85rem;
  margin-right: 1rem;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.modal__content {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal__close {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 200%;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: margin-top 0.2s ease;
  transition: margin-top 0.2s ease;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav__item:focus-within, .nav__item:hover {
  margin-top: -2px;
}

.nav__item:focus-within::after, .nav__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav__toggle {
  position: relative;
  display: none;
  font-size: 1.5rem;
  height: 2rem;
  cursor: pointer;
  width: 2rem;
}

.nav__toggle::after {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.nav__toggle.active::after {
  content: "\f00d";
}

.nav__toggle.mobile {
  display: inline-block;
}

.nav__toggle.mobile::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav.mobile .nav__list {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 5%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #08082b;
  color: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav.mobile .nav__list.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.nav.mobile .nav__item {
  height: 60px;
  margin-right: 0;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.nav.mobile .nav__item.active {
  opacity: 1;
}

.nav.mobile .nav__item::after {
  background-color: #fff;
}

.nav.mobile .nav__item:focus-within, .nav.mobile .nav__item:hover {
  margin-top: 0;
}

.paymentIntegrationPage .statement {
  width: 100%;
  max-width: 920px;
  padding: 2rem;
  margin: 0 auto;
}

/* -- Custom Global --*/
body {
  font-family: "Poppins", sans-serif;
}

body.fixed {
  overflow: hidden;
}

button {
  padding: 1rem 1.8rem;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button i {
  margin-left: 0.75rem;
}
/*# sourceMappingURL=main.css.map */