@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap");
.header {
  padding: 0 5%;
  height: 5rem;
  -webkit-box-shadow: 0 5px 2px #e3eafc;
          box-shadow: 0 5px 2px #e3eafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: radial-gradient(circle 610px at 5.2% 51.6%, #050872 0%, #070335 97.5%);
}

.section__content {
  max-width: 920px;
  padding: 0 5%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.section__content > * {
  margin-bottom: 20px;
}

.section .action-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.modal__content {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal__close {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 200%;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list.mobile {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav__item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: margin-top 0.2s ease;
  transition: margin-top 0.2s ease;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav__item:focus-within, .nav__item:hover {
  margin-top: -2px;
}

.nav__item:focus-within::after, .nav__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav__toggle {
  display: none;
  font-size: 1.5rem;
}

.nav__toggle.mobile {
  display: block;
}

/* -- Custom Global --*/
body {
  font-family: "Montserrat", sans-serif;
}

body.fixed {
  overflow: hidden;
}

button {
  padding: 1rem 1.8rem;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button i {
  margin-left: 0.75rem;
}
/*# sourceMappingURL=main.css.map */