#store {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
  font-family: "Poppins";
}
.menu {
  font-size: 1.5rem;
}

#store main {
  position: relative;
  top: 2rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  z-index: 200;
  transition: 0.3s ease-in-out;
  transform: translateX(-100%);
}

nav.active {
  transform: translateX(0);
}

.nav-close {
  font-size: 1.75rem;
  position: absolute;
  z-index: 210;
  top: 1rem;
  right: 2rem;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  border-radius: 50%;
}

.nav-title {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 5px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f3f3f3;
}
nav ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  text-align: center;
  justify-content: space-around;
}

nav li {
  font-size: 1.25rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 3px;

  font-weight: 500;
}

#store.fixed {
  overflow: hidden;
}

#store section {
  padding: 0 4px;
}

#store .section-title {
  font-weight: bold;
  opacity: 0.75;
  margin-top: 1rem;
}
#store .scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(240, 75%, 25%, 0.888);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  z-index: 100;
}
#store .navigation-view {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(240, 67%, 20%, 1);
  color: #f3f3f3;
  opacity: 0.9;
  padding: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  z-index: 100;
}

/* Products */
#store .product-categories {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-align: x mandatory;
}
#store .product-category {
  flex-grow: 1;
  flex-shrink: 0;
  height: auto;
  width: 150px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: orange;
  border-radius: 4px;
}

#store .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 4px 1rem;
}

#store .product {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 12px hsla(240, 67%, 20%, 0.2);
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 4px;
}
#store .product__image {
  position: relative;
  margin-bottom: 1rem;
  height: 100px;
  width: 150px;
}
#store .product img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;

  object-fit: contain;
}
#store .product .over-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(240, 67%, 20%, 0.371);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transform-origin: bottom;
  transition: transform 0.35s;
}
#store .product:hover .over-lay {
  transform: translateY(0);
}
#store .products .product__horizontal {
  padding: 1rem;
}
#store .product__info {
  margin-left: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
#store .product__desc {
  font-size: 0.85rem;
}
#store .product__name {
  font-weight: 700;
  margin-bottom: 0.35rem;
}
#store .product__price {
  padding: 5px 10px;
  background-color: hsl(66, 67%, 20%);
  align-self: flex-start;
  font-size: 14px;
  margin-top: 0.85rem;
  color: #fff;
  border-radius: 0px;
}
/* Header */
#store header {
  position: fixed;
  width: 100%;

  top: 0;
  z-index: 199;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(66, 67%, 20%);
  color: #fff;
  padding: 20px;
  height: 5rem;
}

#store .brand {
  display: flex;
}

/* Breadcrumb */
#store .breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 5%;
  background-color: #fff;
  box-shadow: 0 2px hsla(240, 67%, 20%, 0.2);
  font-size: 12px;
}

#store .breadcrumb .arrange-styles {
  display: flex;
}

/* Hero */
#store .hero {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#store .hero h1 {
  width: 100% !important;
  font-weight: 300;
}

#store .hero .call-to-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

#store .hero .call-to-actions button {
  flex-basis: 100%;
}

/* Product Modal */
.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(240, 67%, 20%);
  transform: scale(0);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s ease;
}
.product-modal .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.product-modal.on {
  transform: scale(1);

  z-index: 1000;
}

/* Products */

/* MEDIA QUERIES */
@media (min-width: 620px) {
  #store .hero {
    flex-direction: initial;
    padding: 5%;
  }
  #store .hero h1 {
    width: 70%;
  }
}
